<ion-header>
  <ion-toolbar>
    <ion-title>Mis datos personales</ion-title>
  </ion-toolbar>
</ion-header>
<p>Nombre: Christian Mauricio Diaz Argueta
  <br>
  Descripcion fisica: Cabello lacio y negro.
  <br>
  -Mestizo
  <br>
  -Mido entre 1.69 a 1.70, no estoy seguro :v.
  <br>
  -Mis ojos Negros.
  <br>
  <br>
  <br>
  Descripcion Personal:
  <br>
  Aficionado del futbol, en mis tiempos libres dibujo y juego.
  <br>
  <br>
  <br>
  Me considero buen jugador de mi deporte aficion, aunque desde que sali del colegio lo deje.
  <br>








</p>

<ion-content>

</ion-content>
