<ion-header>
  <ion-toolbar>
    <ion-title>Mis metas</ion-title>
  </ion-toolbar>
</ion-header>
<p>Metas Personales: entre ellas esta formar una familia y mantener a flote la empresa familiar.
  <br> asi como la mantiene mi padre quien es el fundador de la misma.
  <br>
  <br>  
  Metas Profesionales: Introducir mis metodos y conocimientos adquiridos en mi trabajo, ya que es una de telecomunicaciones
  <br>
  <br>Tambien poderlos compartir con quienes necesiten de mis conocimientos.
  <br> 
  <br>
  Me gustaria poder iniciar un negocio, en este caso en temas de videojuegos y accesorios digitales.
  <br>
  <br>
  Metas a largo y mediano plazo: Concluir mi periodo estudiantil y dedicarme a lo que me gusta al lado de buenas personas








</p>

<ion-content>

</ion-content>
